$background: #F8F9FC;
$color-primary: #4E6ABF;
$color-secondary: #3D58A9;

/* controls */
$active: #38B000;
$disabled: #B8C2E0;
$hover: #6981C9;

/* text */
$text-primary: #F1F2F4;
$text-secondary: #101720;
